<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&display=swap" rel="stylesheet">
</head>
<body>
    <div class="conteiner">
        @RenderBody()

        @if (IsSectionDefined("Placeholder1"))
        {
            @RenderSection("Placeholder1")
        }
        else
        {
            <div>
                <text>
                    Here is the text of 1 placeholder.
                </text>
            </div>

        }
        @if (IsSectionDefined("Placeholder2"))
        {
            @RenderSection("Placeholder2")
        }
        else
        {
            <div>
                <text></text>
            </div>

        }
    </div>

</body>
</html>