*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#FEFEFE;
}

.conteiner{
    width:60%;
    margin: 3% auto;
    background-color:#FEFEFE;
    box-shadow: 0px 0px 3px rgba(15,15,15,0.5);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 1% 2%;
}

h1 {
    color: #0D49AB;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 3vw;
    margin-bottom: 2.5%;
    border-bottom: solid 2px #0D49AB;
}

.conteiner__wrap{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:3%;
}

.conteiner__wrap__radiobutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

button {
    width: 27%;
    height: 38px;
    background-color: #0D49AB;
    color: #F3F3F3;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 2vw;
    box-shadow: 0px 0px 2px rgba(15,15,15,0.25);
    border-radius: 0;
    border: 1px solid #0D49AB;
    background-image: linear-gradient(#F3F3F3, #F3F3F3);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

    button:hover {
        color: #0D49AB;
        background-size: 100% 100%;
        border: #0D49AB solid 1px;
    }

.secondary_button {
    font-size: 1.5vw;
    margin-left: 73%;
    background-color: #F3F3F3;
    color: #0D49AB;
    background-image: linear-gradient(#0D49AB, #0D49AB);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

    .secondary_button:hover {
        color:#F3F3F3;
        background-size: 100% 100%;
        border: #0D49AB solid 1px;
    }

.conteiner_panel-hidden {
    margin-bottom: 2%;
}

#panel_add {
    display: none;
    margin-bottom: 2%;
}

#panel_update {
    display: none;
    margin-bottom: 2%;
}

#panel_delete {
    display: none;
    margin-bottom: 2%;
}

#panel_add_product {
    display: none;
    margin-bottom: 2%;
}

#panel_delete_product {
    display: none;
    margin-bottom: 2%;
}

#panel_update_product {
    display: none;
    margin-bottom: 2%;
}

#panel_add_order {
    display: none;
    margin-bottom: 2%;
}

#panel_delete_order {
    display: none;
    margin-bottom: 2%;
}

#panel_update_order {
    display: none;
    margin-bottom: 2%;
}

.text__field {
    width: 60%;
    height: 38px;
    margin-bottom: 1%;
    padding-left: 1%;
    font-size: 1.25vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

p {
    font-size: 1.25vw;
    margin-bottom: 1%;
    color: rgba(15,15,15,0.75);
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

span {
    font-size: 1.25vw;
    color: rgba(15,15,15,0.75);
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

.conteiner__wrap_checkbutton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;
}



#show{
    margin-left:73%;
}

table {
    width: 100%;
    margin-bottom: 9%;
    border: 1px solid rgba(15,15,15,0.75);
    border-collapse: collapse;
}

th {
    padding: 5px;
    background: #0D49AB;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: #F3F3F3;
    border: solid 1px rgba(15,15,15,0.75);
}

td {
    padding: 5px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color: rgba(15,15,15,0.75);
    border: solid 1px rgba(15,15,15,0.75);
}

.radio_button {
    margin: auto 0;
    margin-right:5px;
}