*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#FEFEFE;
}

.conteiner{
    width:60%;
    margin: 3% auto;
    background-color:#FEFEFE;
    box-shadow: 0px 0px 3px rgba(15,15,15,0.5);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 1% 2%;
}

h1 {
    color: #100F0F;
    font-family: 'Source Code Pro', monospace;
    font-weight:500;
    font-size: 2.5vw;
    margin-bottom:1.5%;
}

.conteiner__wrap{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:3%;
}

.conteiner__wrap__radiobutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

button {
    width: 27%;
    height: 38px;
    background-color: #0D49AB;
    color: #F3F3F3;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 2vw;
    box-shadow: 0px 0px 2px rgba(15,15,15,0.25);
    border-radius: 0;
    border: 1px solid #0D49AB;
    background-image: linear-gradient(#F3F3F3, #F3F3F3);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

    button:hover {
        color: #0D49AB;
        background-size: 100% 100%;
        border: #0D49AB solid 1px;
    }

#panel_add {
    display:none;
    margin-bottom:2%;
}

#panel_update {
    display: none;
    margin-bottom: 2%;
}

#panel_delete {
    display: none;
    margin-bottom: 2%;
}

#panel_add_product {
    display: none;
    margin-bottom: 2%;
}

#panel_delete_product {
    display: none;
    margin-bottom: 2%;
}

#panel_update_product {
    display: none;
    margin-bottom: 2%;
}

#panel_add_order {
    display: none;
    margin-bottom: 2%;
}

#panel_delete_order {
    display: none;
    margin-bottom: 2%;
}

#panel_update_order {
    display: none;
    margin-bottom: 2%;
}

.text__field {
    width: 94%;
    height: 24px;
    margin-bottom: 1%;
    padding-left: 1%;
    font-size: 1.25vw;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

p {
    font-size: 1.25vw;
    margin-bottom: 1%;
    color: rgba(15,15,15,0.75);
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

span {
    font-size: 1.25vw;
    margin-bottom: 1%;
    color: rgba(15,15,15,0.75);
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

.conteiner__wrap_checkbutton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3%;
}



#show{
    margin-left:73%;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #dddddd;
    }

td {
        border: 1px solid #dddddd;
        padding: 5px;
    }
